*{margin:0;margin:0;}
body{
    background-color:rgb(159,214,251);
}
.top_nav{
    width:600px;
    margin: 50px auto;
}
li{
    list-style: none;
}
.top_nav title1{
    position: middle;
    color: rgb(61,157,222);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.top_nav title2{
    color: rgb(41,128,185);
    font-size: 50px;
    text-decoration: underline;
    padding-left: 10px;
    font-weight: 900;
    text-align: center;
}
.map{
    
    width: 10px;
    position:absolute;
    left:25%;
    top:25%;
    
}
.map a:hover img{
    transform:scale(1.2);
}
.map img{transition: 0.3s;}
.post{
    text-align: center;
    width: 500px;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}